<ul>
    <li>
        <button
            [routerLink]="['/request-response']"
            routerLinkActive="active-link"
        >
            Request-Response interaction
        </button>
    </li>
    <li>
        <button
            [routerLink]="['/fire-and-forget']"
            routerLinkActive="active-link"
        >
            Fire-And-Forget interaction
        </button>
    </li>
    <li>
        <button
            [routerLink]="['/request-stream']"
            routerLinkActive="active-link"
        >
            Request-Stream interaction
        </button>
    </li>
    <li>
        <button [routerLink]="['/channel']" routerLinkActive="active-link">
            Channel interaction
        </button>
    </li>
</ul>
